body {
  background-color: #282c34;
  height: 100vh;
  overflow: hidden;
}

.App {
  color: white;
  display: grid;
  grid-template-rows: repeat(3, auto); 
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
}

main {
  height: 90vh;
  overflow: hidden;
}

footer {
  height: 5vh;
}
