body {
  font-family: monospace;
  background-color: #282c34;
  height: 100vh;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.App {
  color: white;
  display: grid;
  grid-template-rows: repeat(3, auto); 
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  height: 1.8rem;
  width: 50ch;
  padding-left: 3ch;

  border: none;
  border-radius: 8px;

  background-color: #201f28;
  color: white;

}

.links {
  display: flex;
  gap: 30px;
}

main {
  height: 85vh;
  padding-top: 50px;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.user-card {
  height: 30vh;
  padding: 0 20px;

  display: grid;
  grid-template-areas: 
    'image name id'
    'image rest rest'
    'image rest rest'
    'image rest rest'
    'image rest rest'
    ;
  justify-content: center;
  align-items: center;
  justify-items: start;
  gap: 0 50px;

  border: 1px solid white;
  border-radius: 20px;
}

.user-card > * {
  margin: 0;
  padding: 0;
}

.user-card > img {
  height: 240px;
  grid-area: image;
}

.user-card > h1 {
  grid-area: name;
}

.user-card > p {
  grid-column: span 2;
}

#uid {
  grid-area: id;
  grid-column: span 1;
}

.list-wrapper {
  display: flex;
  gap: 20px;
}

.list-wrapper li {
  list-style: none;
  display: grid;
  grid-template-columns: 40ch auto;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  gap: 40px;
}

footer img {
  width: 50px;
}
